## Ignore project and compiled files
src/camApp.pro.user
build-camApp-*-Debug/
build-camApp-*-Release/

## Ignore Debian packages we may have built
chronos-cam-app_*.build
chronos-cam-app_*.changes
*.deb

## Ignore common temporary files.
.DS_Store
*\~
.directory
