[Unit]
Description=User interface for the Chronos Camera
After=chronos-video.service chronos-control.service
Requires=chronos-video.service chronos-control.service

[Service]
WorkingDirectory=/var/camera
EnvironmentFile=/etc/chronos-gui.conf
ExecStart=/usr/bin/camApp -qws
KillMode=process
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
