Source: chronos-cam-app
Section: misc
Priority: optional
Maintainer: Owen Kirby <oskirby@gmail.com>
Build-Depends: debhelper (>=9), dh-systemd (>=1.5),
               libqt4-chronos-dev
Standards-Version: 3.9.6
Homepage: https://github.com/krontech/chronos-cam-app

Package: chronos-gui
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends},
         libqt4-chronos,
         chronos-control,
         chronos-pwrutil,
         chronos-video,
         cifs-utils,
	 dosfstools
Description: User Interface for the Chronos Camera
 Qt4 user interface runs locally on the camera, and
 renders to the LCD display on the back of the camera.

Package: chronos-gui-dbg
Architecture: armel
Depends: chronos-gui (= ${binary:Version}), ${misc:Depends}
Description: User Interface for the Chronos Camera
 Qt4 user interface runs locally on the camera, and
 renders to the LCD display on the back of the camera.
 .
 This package contains unstripped binaries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The binaries are installed in
 /usr/lib/debug and are automatically used by gdb.

Package: chronos-update
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-chronos
Description: Software Updater for the Chrnos Camera
 Qt4 user interface runs locally on the camera and manages the
 software update process and package configuration.

