#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export QT_QMAKE_PATH=/usr/lib/${DEB_HOST_MULTIARCH}/qt4/bin/qmake
export INSTALL_ROOT=$(CURDIR)/debian/chronos-gui

%:
	dh $@ --with systemd

override_dh_auto_configure:
	${QT_QMAKE_PATH} chronos.pro -r -spec qws/linux-omap2-g++ CONFIG+=debug

override_dh_systemd_enable:
	dh_systemd_enable --no-enable debian/chronos-gui.service
	dh_systemd_enable debian/chronos-update.service

override_dh_systemd_start:
	dh_systemd_start --no-start debian/chronos-gui.service
	dh_systemd_start -r --no-start debian/chronos-update.service

override_dh_strip:
	dh_strip --dbg-package=chronos-gui-dbg
